body{
margin:0;
font-family:Segoe UI;
background:#020617;
color:white;
scroll-behavior:smooth;
}

/* NAVBAR */
#navbar{
position:fixed;
top:0;
width:100%;
background:#020617;
padding:10px;
display:flex;
justify-content:center;
gap:25px;
z-index:999;
}

#navbar a{
color:white;
text-decoration:none;
padding:5px 10px;
}

#navbar a.active{
border-bottom:2px solid cyan;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
color:cyan;
font-size:28px;
}

/* SECTIONS */
.section{
padding:80px 20px;
max-width:1000px;
margin:auto;
text-align:center;
}

/* PROFILE */
.profile-pic{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:4px solid cyan;
}

/* BUTTONS */
.btn{
background:cyan;
padding:10px 18px;
border-radius:8px;
text-decoration:none;
color:black;
margin:5px;
}

/* LOGOS */
.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:20px;
}

.logo-card{
background:#0f172a;
padding:20px;
border-radius:12px;
cursor:pointer;
}

.logo-card img{
width:100%;
height:80px;
object-fit:contain;
background:white;
padding:10px;
border-radius:10px;
}

/* ACCORDION */
.accordion{
max-height:0;
overflow:hidden;
transition:0.4s;
text-align:left;
}

.logo-card.active .accordion{
max-height:300px;
margin-top:10px;
}

/* LISTAS */
.clean-list{
list-style:none;
padding:0;
}

.clean-list li{
padding:6px 0;
border-bottom:1px solid rgba(255,255,255,0.1);
}

/* SCHOOL */
.school-content{
display:none;
text-align:left;
margin-top:20px;
}

.school-content.show{
display:block;
}

/* SKILLS */
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
text-align:left;
}

/* CONTACT */
form{
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:10px;
border-radius:6px;
border:none;
}

/* CURSOR */
.rf-cursor{
position:fixed;
width:16px;
height:16px;
border:2px solid cyan;
border-radius:50%;
pointer-events:none;
z-index:999;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{box-shadow:0 0 0 0 cyan;}
100%{box-shadow:0 0 20px 10px transparent;}
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
