body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0b1220;
color:white;
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.hero{
padding:80px 20px;
}

.hero-content{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.profile-pic{
width:220px;
border-radius:50%;
border:5px solid #00c3ff;
}

.hero-buttons{
margin-top:20px;
display:flex;
gap:15px;
flex-wrap:wrap;
}

.btn{
background:#00c3ff;
padding:12px 22px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
}

.linkedin{
background:#0a66c2;
}

section{
padding:60px 20px;
max-width:1000px;
margin:auto;
}

.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:30px;
margin-top:30px;
}

.logo-card{
text-align:center;
cursor:pointer;
transition:0.3s;
}

.logo-card img{
width:110px;
height:110px;
object-fit:contain;
background:white;
padding:10px;
border-radius:12px;
}

.logo-card:hover{
transform:scale(1.1);
}

.hidden-content{
max-height:0;
overflow:hidden;
transition:0.6s;
}

.hidden-content.show{
max-height:500px;
margin-top:20px;
}

.skills{
display:flex;
flex-wrap:wrap;
gap:40px;
}

footer{
text-align:center;
padding:30px;
opacity:0.6;
}
