body{
font-family: Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}

.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(135deg,#0ea5e9,#6366f1);
}

.hero h1{
font-size:40px;
margin:0;
}

.linkedin{
background:#0A66C2;
color:white;
}


.btn{
display:inline-block;
margin-top:20px;
padding:12px 20px;
background:white;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#020617;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

section{
padding:60px 20px;
max-width:900px;
margin:auto;
}

.card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.02);
}

ul{
line-height:30px;
}

footer{
text-align:center;
padding:20px;
background:black;
}

