body{
margin:0;
font-family:Segoe UI;
background:#0b1120;
color:white;
overflow-x:hidden;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.loader-text{
font-size:30px;
color:#00c3ff;
animation:pulse 1s infinite alternate;
}

@keyframes pulse{
from{opacity:0.2;}
to{opacity:1;}
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

/* HERO */
.hero{
padding:100px 20px;
}

.hero-content{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.profile-pic{
width:220px;
height:220px;
border-radius:50%;
border:5px solid #00c3ff;
object-fit:cover;
}

/* BOTONES */
.hero-buttons{
margin-top:20px;
display:flex;
gap:15px;
flex-wrap:wrap;
}

.btn{
background:#00c3ff;
padding:12px 22px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.btn:hover{transform:scale(1.1);}

.linkedin{background:#0a66c2;}

section{
padding:60px 20px;
max-width:1000px;
margin:auto;
}

/* LOGOS */
.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:30px;
}

.logo-card{
text-align:center;
cursor:pointer;
}

.logo-card img{
width:110px;
height:110px;
object-fit:contain;
background:white;
padding:10px;
border-radius:12px;
transition:0.3s;
}

.logo-card:hover img{
transform:scale(1.15);
}

/* CONTENIDO DESPLEGABLE */
.hidden-content{
max-height:none;
display:none;
margin-top:20px;
}

.hidden-content.show{
display:block;
}

/* CURSOR RF */
.rf-cursor{
position:fixed;
width:20px;
height:20px;
border:2px solid #00c3ff;
border-radius:50%;
pointer-events:none;
transform:translate(-50%,-50%);
z-index:999;
animation:rfPulse 1s infinite;
}

@keyframes rfPulse{
0%{box-shadow:0 0 0 0 rgba(0,195,255,0.7);}
100%{box-shadow:0 0 20px 10px rgba(0,195,255,0);}
}
