body{
margin:0;
font-family:Segoe UI;
background:#020617;
color:white;
text-align:center;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
color:#00c3ff;
font-size:30px;
}

.profile-pic{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:4px solid cyan;
margin-top:40px;
}

.hero-buttons{
margin-top:20px;
}

.btn{
padding:12px 20px;
background:#00c3ff;
color:black;
border-radius:8px;
text-decoration:none;
margin:5px;
display:inline-block;
}

.linkedin{
background:#0a66c2;
color:white;
}

section{
padding:60px 20px;
max-width:900px;
margin:auto;
}

.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:25px;
}

.logo-card{
background:#0f172a;
padding:20px;
border-radius:12px;
cursor:pointer;
}

.logo-card img{
width:100%;
height:80px;
object-fit:contain;
background:white;
padding:10px;
border-radius:10px;
}

.accordion{
max-height:0;
overflow:hidden;
transition:0.4s;
}

.logo-card.active .accordion{
max-height:300px;
margin-top:10px;
}

.school-content{
display:none;
margin-top:20px;
}

.school-content.show{
display:block;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
margin:auto;
}

input, textarea{
padding:10px;
border-radius:6px;
border:none;
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.rf-cursor{
position:fixed;
width:16px;
height:16px;
border:2px solid cyan;
border-radius:50%;
pointer-events:none;
z-index:999;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{box-shadow:0 0 0 0 cyan;}
100%{box-shadow:0 0 20px 10px transparent;}
}

