*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:#0b1120;
color:#e2e8f0;
line-height:1.6;
}

/* HERO */
.hero{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
padding:100px 20px;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero p{
opacity:0.9;
margin-bottom:8px;
}

.profile-pic{
width:220px;
border-radius:50%;
border:4px solid #38bdf8;
}

/* BOTONES */
.hero-buttons{
margin-top:20px;
}

.btn{
display:inline-block;
padding:12px 22px;
margin-right:10px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.linkedin{
background:#0A66C2;
color:white;
}

/* SECCIONES */
section{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

h2{
color:#38bdf8;
margin-bottom:25px;
}

/* LOGOS */
.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;
}

.logo-card{
background:#1e293b;
padding:20px;
border-radius:12px;
text-align:center;
transition:0.3s;
}

.logo-card:hover{
transform:translateY(-5px);
}

.logo-card img{
width:100px;
margin-bottom:15px;
}

/* LISTA */
ul{
list-style:none;
}

ul li{
background:#1e293b;
margin-bottom:12px;
padding:12px;
border-radius:8px;
}

/* FOOTER */
footer{
text-align:center;
padding:25px;
background:#020617;
margin-top:40px;
}



