*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background:#0b1120;
color:#e2e8f0;
line-height:1.6;
}

/* HERO */
.hero{
background:linear-gradient(120deg,#0ea5e9,#6366f1,#8b5cf6);
text-align:center;
padding:90px 20px;
color:white;
}

.hero h1{
font-size:45px;
font-weight:700;
margin-bottom:10px;
}

.hero p{
font-size:18px;
opacity:0.95;
margin-bottom:10px;
}

/* BOTONES */
.btn{
display:inline-block;
margin:15px 8px;
padding:12px 24px;
border-radius:8px;
font-weight:600;
text-decoration:none;
background:white;
color:#0b1120;
transition:0.3s;
}

.btn:ho

