body{
font-family:Segoe UI;
background:black;
color:white;
margin:0;
}

.section{
padding:100px 25px;
max-width:900px;
margin:auto;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
color:#00eaff;
}

#navbar{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,0.7);
padding:15px;
text-align:center;
z-index:1000;
}

#navbar a{
color:white;
margin:10px;
text-decoration:none;
}

.profile-pic{
width:170px;
height:170px;
border-radius:50%;
object-fit:cover;
border:3px solid #00eaff;
}

.hero-buttons{
margin-top:20px;
display:flex;
gap:15px;
flex-wrap:wrap;
}

.btn{
background:#00eaff;
color:black;
padding:10px 18px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.linkedin{ background:#0077b5; color:white; }
.contacto{ background:#25D366; color:white; }

.accordion-card{
background:#111;
border-radius:12px;
margin-top:15px;
overflow:hidden;
}

.accordion-header{
display:flex;
gap:15px;
padding:15px;
cursor:pointer;
}

.accordion-header img{
width:60px;
height:60px;
object-fit:contain;
background:white;
border-radius:8px;
}

.accordion-body{
display:none;
padding:15px;
background:#0b0b0b;
}

.accordion-card.active .accordion-body{
display:block;
}

.clean-list{
list-style:none;
padding:0;
}

.clean-list li{
padding:8px 0;
border-bottom:1px solid #333;
}

form{
display:flex;
flex-direction:column;
gap:10px;
}

input,textarea{
padding:10px;
background:#111;
border:none;
color:white;
}

button{
padding:10px;
background:#00eaff;
border:none;
font-weight:bold;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.wifi-cursor{
position:fixed;
width:25px;
height:25px;
border:2px solid cyan;
border-radius:50%;
pointer-events:none;
}
