body{
margin:0;
font-family:Segoe UI;
background:#020617;
color:white;
overflow-x:hidden;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
z-index:9999;
color:#00c3ff;
}

/* DASHBOARD */
.dashboard{
display:flex;
min-height:100vh;
}

/* SIDEBAR */
.sidebar{
width:260px;
background:#020617;
padding:20px;
border-right:1px solid #0ea5e9;
text-align:center;
}

.profile{
width:160px;
height:160px;
border-radius:50%;
object-fit:cover;
border:4px solid #00c3ff;
}

.btn{
display:block;
margin-top:20px;
padding:10px;
background:#00c3ff;
color:black;
text-decoration:none;
border-radius:8px;
}

/* PANEL */
.main-panel{
flex:1;
padding:40px;
}

/* LOGOS */
.logo-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
margin-top:40px;
}

.logo-card{
background:#0f172a;
padding:20px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.logo-card:hover{
transform:scale(1.05);
}

.logo-card img{
width:100%;
height:90px;
object-fit:contain;
background:white;
padding:10px;
border-radius:10px;
}

/* INFO */
.card-info{
max-height:0;
overflow:hidden;
transition:0.4s;
}

.logo-card.active .card-info{
max-height:300px;
margin-top:15px;
}

/* CURSOR */
.rf-cursor{
position:fixed;
width:18px;
height:18px;
border:2px solid cyan;
border-radius:50%;
pointer-events:none;
z-index:999;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{box-shadow:0 0 0 0 cyan;}
100%{box-shadow:0 0 20px 10px transparent;}
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
