*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI';}

body{background:#0b1120;color:#e2e8f0;line-height:1.6;}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

.hero{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
padding:100px 20px;
flex-wrap:wrap;
}

.profile-pic{
width:220px;
height:220px;
border-radius:50%;
border:4px solid #38bdf8;
object-fit:cover;
}

.btn{
padding:12px 22px;
background:#38bdf8;
color:black;
border-radius:8px;
text-decoration:none;
font-weight:bold;
margin-right:10px;
transition:0.3s;
}

.linkedin{background:#0A66C2;color:white;}

section{max-width:1000px;margin:auto;padding:60px 20px;}
h2{color:#38bdf8;margin-bottom:25px;}

ul{list-style:none;margin-top:10px;}
ul li{
background:#1e293b;
margin-bottom:10px;
padding:12px;
border-radius:8px;
}

/* ACCORDION */
.experience-card{
background:#1e293b;
margin-bottom:20px;
border-radius:12px;
overflow:hidden;
}

.experience-header{
display:flex;
align-items:center;
gap:20px;
padding:20px;
cursor:pointer;
}

.experience-header img{
width:90px;
height:60px;
object-fit:contain;
filter:grayscale(100%);
transition:0.3s;
}

.experience-card:hover img{filter:grayscale(0%);}

.experience-content{
max-height:0;
overflow:hidden;
padding:0 20px;
transition:0.5s ease;
}

.experience-card.active .experience-content{
max-height:500px;
padding:20px;
}

footer{
text-align:center;
padding:25px;
background:#020617;
margin-top:40px;
}
