.profile-pic{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
border:5px solid #00c3ff;
}

/* ACCORDION NUEVO */
.logo-card{
background:#111827;
padding:20px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.logo-card:hover{
transform:scale(1.05);
}

.accordion-content{
max-height:0;
overflow:hidden;
transition:0.5s;
}

.logo-card.active .accordion-content{
max-height:400px;
margin-top:20px;
}
