body{
font-family:Arial;
margin:0;
color:white;
background:black;
}

.section{
padding:80px 20px;
max-width:900px;
margin:auto;
}

.profile-pic{
width:160px;
height:160px;
border-radius:50%;
object-fit:cover;
}

#navbar{
position:fixed;
top:0;
width:100%;
background:#000a;
padding:10px;
text-align:center;
z-index:1000;
}

#navbar a{
color:white;
margin:10px;
text-decoration:none;
}

.accordion-header{
display:flex;
gap:20px;
cursor:pointer;
background:#111;
padding:10px;
border-radius:10px;
margin-top:15px;
}

.accordion-header img{
width:60px;
height:60px;
object-fit:contain;
}

.accordion-body{
display:none;
padding:10px;
background:#0c0c0c;
border-radius:10px;
}

.accordion-card.active .accordion-body{
display:block;
}

.clean-list{
list-style:none;
padding:0;
}

#wifi-cursor{
position:fixed;
width:20px;
height:20px;
border:2px solid cyan;
border-radius:50%;
pointer-events:none;
}
